canvas {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

#root {
    height: 100%;
    display: flex;
    flex-direction: column; /* Ensures children take full height */
}

.content {
    margin: 0 auto;
    padding: 0 15px;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
    z-index: 1;
    position: absolute;
    top: 70px; /* Adjust to ensure it stays below the menu */
    left: 0;
    right: 0;
    bottom: 0;
}

@media (max-width: 768px) {
    .content {
        padding: 15px; /* Adds top padding to prevent overlap with navigation */        
        position: relative;
        top: 5px;
    }
}


@media (min-width: 769px) {
    .content {
        width: 70%;
        padding: 0 30px; /* Adds more horizontal padding for larger screens */
    }
}